<p id="notice"><%= notice %></p>

<p>
  <strong>Dept naem:</strong>
  <%= @notification.dept_naem %>
</p>

<p>
  <strong>Dept email:</strong>
  <%= @notification.dept_email %>
</p>

<p>
  <strong>Mandatory:</strong>
  <%= @notification.mandatory %>
</p>

<p>
  <strong>Lead time:</strong>
  <%= @notification.lead_time %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
