<p id="notice"><%= notice %></p>

<p>
  <strong>Max capacity:</strong>
  <%= @room.max_capacity %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Room num:</strong>
  <%= @room.room_num %>
</p>

<p>
  <strong>Int cost:</strong>
  <%= @room.int_cost %>
</p>

<p>
  <strong>Ext cost:</strong>
  <%= @room.ext_cost %>
</p>

<p>
  <strong>Ext use allowed:</strong>
  <%= @room.ext_use_allowed %>
</p>

<p>
  <strong>Whiteboards:</strong>
  <%= @room.whiteboards %>
</p>

<p>
  <strong>Overhead:</strong>
  <%= @room.overhead %>
</p>

<p>
  <strong>Computer connectivity:</strong>
  <%= @room.computer_connectivity %>
</p>

<p>
  <strong>Wireless access:</strong>
  <%= @room.wireless_access %>
</p>

<p>
  <strong>Projection system:</strong>
  <%= @room.projection_system %>
</p>

<p>
  <strong>Sound system:</strong>
  <%= @room.sound_system %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @room.stage %>
</p>

<p>
  <strong>Multi level:</strong>
  <%= @room.multi_level %>
</p>

<p>
  <strong>Restrictions:</strong>
  <%= @room.restrictions %>
</p>

<p>
  <strong>Buildingpk:</strong>
  <%= @room.buildingpk %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
