<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo_dir %>
    <%= f.text_field :photo_dir %>
  </div>
  <div class="field">
    <%= f.label :photo_name %>
    <%= f.text_field :photo_name %>
  </div>
  <span class="field">
    <%= f.label :buildingpk, "Building" %>
    <%= f.number_field :buildingpk %>
  </span>
  <span class="field">
    <%= f.label :roompk, "Room" %>
    <%= f.number_field :roompk %>
  </span>
  <div class="field">
    <%= f.label :photo_order %>
    <%= f.number_field :photo_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
